




html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(assets/weheartit.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    align-items: center;
    justify-content: center;
    justify-items: center;
}



.search-bar {
    background-color: rgba(174, 24, 24, 0);
    color: white;
    border-radius: 25px;
    height: 40px;
    width: 600px;
    flex: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 15px;
    margin: auto;

}

.search {
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.search-bar:focus {
    outline: none;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.376);
    font-size: 100px;
    height: 150px;
    width: 300px;
    margin-bottom: 0px;
}


.clock:hover {
    color: white;
}

div.shortcuts {
    color: white;
    display: flex;

}

.shortcut,
 .add {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
    font-size:40px;
    margin: 0;
    flex: auto;
    width: 50px;
    height: 50px;
    border-radius: 300px;
    border: 2px solid rgba(247, 247, 247, 0);
    background-color: rgb(105, 38, 12);
    color: white;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 12px;
    margin-left: 10px;
    margin-bottom: 200px;
    text-decoration: none;
}

.add {
    background-image: url(assets/plus_sign.jpg);
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: -15px;
}

.remove {
    height: 10px;
    width: 4px;
    opacity: 0;
    flex: 0;
}


.shortcut:hover {
    cursor: pointer;
}

.shortcut:hover .remove {
    opacity: 1;
}

.bg-selector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 300px;
    background-color: black;
    align-self: flex-end;
    padding-top: 30px;
    overflow: auto;
}

.bg-option {
    flex: none;
    border: 2px solid white;
    margin: 5px;
    margin-top: 25px;
    width: 250px;
    height: 125px;
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.bg-hide {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 10px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 700px) {
    .search-bar {
        width: 300px;
    }
}