




html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(assets/weheartit.gif);
    background-repeat: no-repeat;
    background-size: 102vw 102vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
}



.search-bar {
    background-color: rgba(174, 24, 24, 0);
    color: white;
    border-radius: 25px;
    height: 40px;
    width: 600px;
    flex: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 15px;
    margin: auto;

}

.search {
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.search-bar:focus {
    outline: none;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.376);
    font-size: 100px;
    height: 150px;
    width: 300px;
    margin-bottom: 0px;
    cursor: default;
}


.clock:hover {
    color: white;
}

div.shortcuts {
    color: white;
    display: flex;
    gap: 20px;
}

.shortcut,
 .add {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    position: relative;
    justify-content: flex-end;
    gap: 20px;
    font-size:10px;
    margin: 0;
    flex: auto;
    width: 50px;
    height: 50px;
    border-radius: 300px;
    border: 2px solid rgba(247, 247, 247, 0);
    background-color: rgb(105, 38, 12);
    color: white;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 12px;
    margin-left: 10px;
    margin-bottom: 200px;
    text-decoration: none;
}

.title {
    -webkit-text-stroke: 1px rgb(254, 254, 254);
    text-shadow:    
     0 1px 2px rgba(0, 0, 0, .9),
     0 0 6px rgba(0, 0, 0, 1);
    text-align: center;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 100%;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    font-weight: 200;
    height: 20px;
    width: 80px;
    bottom: -40px;
    left: -15px;
}

.title:hover {
    mix-blend-mode: normal;
    overflow: visible;
    text-align: left;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    width: 200px;
}

.add {
    /* background-image: url(assets/plus_sign.jpg); */
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0);
}

.add::after {
    font-family: 'Times New Roman', Times, serif;
    content: "+";
    /* content: "\002B"; */
    font-size: 35px;
}


.remove,
.edit {
    border: none;
    border-radius: 30px;
    height: 12px;
    width: 12px;
    opacity: 0;
    flex: none;
    background-color: rgba(204, 57, 57, 0);
}

.remove::after {
    content: "\274c";
}

.edit {
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    left: 0;
    line-height: 1;
    text-align: center;
    color: white;
    font-size: 20px;
}

.shortcut:hover {
    cursor: pointer;
}

.shortcut:hover .remove {
    opacity: 1;
}

.shortcut:hover .edit {
    opacity: 1;
}

.bg-selector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.564);
    align-self: flex-end;
    padding-top: 30px;
    overflow: auto;
}

.bg-option {
    flex: none;
    border: 2px solid white;
    margin: 5px;
    margin-top: 25px;
    width: 250px;
    height: 125px;
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.bg-hide {
    border: none;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    height: 15px;
    width: 15px;
    opacity: .3;
    background-color: aqua;
}

.bg-hide:hover {
    opacity: 1;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    height: 250px;
    width: 400px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    right: 100px;
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
}

.pop {
    border-radius: 8px;
    background-color: rgba(240, 248, 255, 0.288);
    height: 20px;
    width: 200px;
    color: white;
}

.label_b {
    margin-top: 10px;
}

.pop_up_form {
    display: flex;
    flex-direction: column;
}

.form_buttons {
    margin-top: 10px;
}


@media (max-width: 700px) {
    .search-bar {
        width: 300px;
    }
}